<section class="banner"></section>

<section class="show-info">
  <div class="content">    
    <h1><%= @book.title %></h1>    

    <p class="mb-3">
      By
      <span class="text-red-600"><%= @book.author %></span>
    </p>

    <p class="uppercase mb-3">
      Isbn:
      <span><%= @book.isbn %></span>
    </p>
  </div>
</section>

<section class="show-description">
  <div class="content">
    <h2>Book description</h2>
    
    <p><%= @book.description %></p>    

    <div class="show-buttons">
      <%= link_to "Edit this book", edit_book_path(@book), class: "btn-gray" %>

      <%= button_to "Destroy this book", book_path(@book), method: :delete, class: "btn-gray" %>

      <%= link_to "Back to books", books_path, class: "btn-gray" %>
    </div>
  </div>
</section>
